@model IEnumerable<GestionContratos.Models.EmpresaModel>

@{
    ViewData["Title"] = "Empresas";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper"
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row mt-2">
                <div class="col-12">
                    <div class="card">
                         <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="m-0">Empresas</h3>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <a class="btn btn-primary" asp-area="" asp-controller="Empresas" asp-action="Create">
                                        Nueva Empresas
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>RUC</th>
                                        <th>Razon Social</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                                <tr>
                                                    <td>@item.RUC</td>
                                                    <td>@item.RazonSocial</td>
                                                    <td>
                                                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.EmpresaID">Editar</a>
                                                        <a class="btn btn-danger text-white  delete-dialog-window"  data-empresa="@item.EmpresaID">Eliminar</a>
                                                    </td>
                                                </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


